.item {
  padding: 2rem 2rem;
  background-color: white;
  box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.priority-low {
  color: green;
}

.priority-medium {
  color: orange;
}

.priority-high {
  color: red;
}
